{{ define "index.layout" }}

{{ template "navbar" . }}
{{ template "index.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "index.content" }}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Lorem Ipsum</h1>
        <p class="lead">Curabitur justo erat, sodales at suscipit vitae, luctus consectetur quam</p>
    </div>
</div>
<hr>
<div class="container">
    <div class="card-deck mb-3 text-center">
        {{ range . }}
        <div class="card border-light shadow-sm" style="width: 18rem;">
            <img src="/assets/img/{{ .Image }}" class="card-img-top" />
            <div class="card-body">
                <h4 class="card-title">{{ .Name }}</h4>
                <p class="card-text"> {{ .Description }} </p>
                <a href="#" class="card-link">Check Menu</a>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}