{{ define "admin.categ.update.layout" }}
{{ template "admin.navbar" . }}
{{ template "admin.categ.update.content" . }}
{{ template "admin.footer" . }}
{{ end }}

{{ define "admin.categ.update.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Update Menu Categories</h2>
  </div>
  <div class="container">
    <form method="POST" action="/admin/categories/update" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
      <input type="hidden" name="catid" value='{{ .Values.Get "catid" }}' />
      <div class="form-group row">
        <label for="catname" class="col-sm-2 col-form-label">Category Name</label>
        {{with .VErrors.Get "catname"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <input type="text" class="form-control" name="catname" id="catname" placeholder="Category Name"
            value='{{ .Values.Get "catname" }}'>
        </div>
      </div>
      <div class="form-group row">
        <label for="catdesc" class="col-sm-2 col-form-label">Description</label>
        {{with .VErrors.Get "catdesc"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <textarea class="form-control" name="catdesc" id="catdesc">{{ .Values.Get "catdesc" }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="catimg" class="col-sm-2 col-form-label">Current Image</label>
        <input type="hidden" name="imgname" value='{{ .Values.Get "catimg" }}' />
        <img src='/assets/img/{{ .Values.Get "catimg" }}' width="80px" height="80px" />
        <label for="catimg" class="col-sm-2 col-form-label">Upload New Image</label>
        <div class="col-sm-10">
          <input type="file" class="form-control-file" name="catimg" id="catimg">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary float-right">Update Category</button>
        </div>
      </div>
    </form>
  </div>
</main>
{{ end }}