{{ define "admin.categ.update.layout" }}
{{ template "admin.navbar" . }}
{{ template "admin.categ.update.content" . }}
{{ template "admin.footer" . }}
{{ end }}

{{ define "admin.categ.update.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Update Menu Categories</h2>
  </div>
  <div class="container">
    <form method="POST" action="/admin/categories/update" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ .ID }}" />
      <input type="hidden" name="image" value="{{ .Image }}" />
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Category Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" id="name" placeholder="Category Name" value="{{ if .Name }} {{ .Name }} {{ end }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="description" id="description">{{ if .Description }} {{ .Description }} {{ end }}</textarea>
        </div>
      </div>
        <div class="col-sm-10">
       <img src="/assets/img/{{ .Image }}" width="80px" height="80px" />   
        </div>
      <div class="form-group">
        <label for="catimg" class="col-sm-2 col-form-label">Upload New Image</label>
        <div class="col-sm-10">
          <input type="file" class="form-control-file" name="catimg" id="catimg">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary float-right">Update Category</button>
        </div>
      </div>
    </form>
  </div>
</main>
{{ end }}