{{ define "menu.layout" }}

{{ template "navbar" . }}
{{ template "menu.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "menu.content" }}
<div class="container">
    <h2>Menu</h2>
    <p>Nam rutrum, massa non sodales aliquam, quam risus viverra lorem, a ultricies mauris orci et nulla. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum aliquet tincidunt
        pellentesque. Morbi accumsan lorem nulla, non hendrerit sapien gravida quis.</p>
</div>
{{ end }}